{% macro speakerSlot(slot,format) %}| {{ slot.cest | align(format.cest) }} | {{ slot.title |align(format.title) }}  | {{ slot.speaker |align(format.speaker) }} | {{ slot.affiliation |align(format.affiliation) }} |{{ slot.comment |align(format.comment) }}|{% endmacro %}
{% macro segmentSlot(slot,format) %}| {{ slot.cest | align(format.cest) }} | {{ "**%s**"|format(slot.title) |align(format.title) }}  ||||{% endmacro %}